*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: hsl(0, 2%, 12%)
}
.calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: .45rem;
    max-width: 450px;
    overflow: hidden;
}

#display{
    width: 100%;
    font-size: 5rem;
    padding: 20px;
    text-align: right;
    border: none;
    outline: none; 
    background-color: hsl(0, 0%, 20%);
    color: white;
}
button{
    width: 100px;
    height: 100px;
    /* border-radius: .35rem; */
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    margin: 0;
    background-color: hsl(0, 0%, 40%);
    font-size: 2.5rem;
    font-weight: 400;
    cursor: pointer;
    color: rgb(230, 224, 224);
}
.keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0;
    grid-column: auto;
    position: relative;
    padding: 25px;
    border-radius: 6rem;
    overflow: hidden;
    /* border: 2px solid black; */
}

#double-width {
    /* width: calc(99% + 2px); */
    width: 100%;
    grid-column: span 2;
}

button:hover{
    background-color: hsl(0, 0%, 50%);
}
button:active{
    background-color: hsl(0, 0%, 60%);
}
.rightButtons{
    background-color: hsl(36, 85%, 47%);
}
.rightButtons:hover {
    background-color: hsl(36, 85%, 37%);
}
.rightButtons:active{
    background-color: hsl(36, 85%, 30%);
}
.topButtons{
    background-color: hsl(0, 0%, 27%);
}
.topButtons:hover {
    background-color: hsl(0, 0%, 50%);
}
.topButtons:active{
    background-color: hsl(0, 0%, 60%);
}